{% extends './layouts/base.html.twig' %}

{% block title %} Upload un film {% endblock title %}

{% block body %}
    {% include './layouts/navbar.html.twig' %}

    <h1 class="form-title">Créer un film</h1>

    <div class="form-container">
        {{ form_start(form) }}
        <div class="form-fields">
            {{ form_widget(form) }}
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock body %}
