{% extends './layouts/base.html.twig' %}

{% block title %} Modifier un film {% endblock title %}

{% block body %}
    {% include './layouts/navbar.html.twig' %}

    <h1 class="form-title">Modifier le film</h1>

    <div class="form-container active">
        {{ form_start(form) }}
        <div class="form-fields">
            {{ form_widget(form) }}
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}
    </div>
{% endblock body %}
