<!DOCTYPE html>
{% block html %}
    <html lang="fr">
        <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>
                {{ block('title') }}
            </title>

            <link rel="stylesheet"
                {% block style %}
                    href="{{ asset('css/style.css') }}"
                {% endblock style %}
            >
            <script>
                setInterval(function () {
                    if (window.location.pathname !== '/signin' && window.location.pathname !== '/') {
                        fetch('{{ path('acc_session_check') }}', {method: 'GET', credentials: 'same-origin'})
                            .then(response => {
                                if (response.status === 401) {
                                    window.location.href = '/signin';
                                }
                            })
                            .catch(error => console.error('Erreur lors de la vérification de la session:', error));
                    }
                }, 5000);
            </script>

        {% endblock head %}
        </head>
    <body>
    {% block body %}

    {% endblock body %}
    </body>
    </html>
{% endblock html%}
