<!DOCTYPE html>
{% block html %}
    <html lang="fr">
        <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>
                {{ block('title') }}
            </title>

            <link rel="stylesheet"
                {% block style %}
                    href="{{ asset('css/style.css') }}"
                {% endblock style %}
            >

        {% endblock head %}
        </head>
    <body>
    {% block body %}

    {% endblock body %}
    </body>
    </html>
{% endblock html%}
