
<nav class="navbar">
    <div class="logo">MonFlix</div>
    <ul class="nav-links">
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="">Séries</a></li>
        <li><a href="">Films</a></li>
        <li><a href="">Nouveautés</a></li>
        <li><a href="{{ path('app_signin') }}">Créer un compte</a></li>
    </ul>
</nav>
